section.form
    .container
        .form__wrapper.wpcf7

            .mb-5
                .form__title.h3 поиск оптимального финансового и технического решения
                .form__title.h3 получите коммерческое предложение в течении 24 часов

            form.wpcf7-form(action="#", method="post", enctype="multipart/form-data", novalidate="novalidate")
                div(style="display: none;")
                    input(type="hidden", name="_wpcf7", value="5")
                    input(type="hidden", name="_wpcf7_version", value="5.2.2")
                    input(type="hidden", name="_wpcf7_locale", value="ru_RU")
                    input(type="hidden", name="_wpcf7_unit_tag", value="wpcf7-f5-p1-o1")
                    input(type="hidden", name="_wpcf7_container_post", value="1")
                    input(type="hidden", name="_wpcf7_posted_data_hash", value="")
                .row.align-items-center
                    .col-lg-3.order-lg-first
                        span.form__item.js-form-input
                            input#your-name.wpcf7-form-control.wpcf7-text.form-control(type="text", name="client", value="", size="40", aria-invalid="false")
                            label.form__label(for="your-name") Ваше имя

                    .col-lg-3.order-lg-1
                        span.form__item.js-form-input.wpcf7-form-control-wrap.tel-228
                            input#phone.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel.form-control.wpcf7-not-valid(type="tel", name="tel-228", value="", size="40", aria-required="true", aria-invalid="true")
                            label.form__label(for="phone") Ваш номер телефона*
                            //-span.wpcf7-not-valid-tip(role="alert", aria-hidden="true") Поле обязательно для заполнения.

                    .col-lg-3.order-lg-2
                        span.form__item.js-form-input.wpcf7-form-control-wrap.your-email
                            input#your-email.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.form-control.wpcf7-not-valid(type="email", name="your-email", value="", size="40", aria-required="true", aria-invalid="true")
                            label.form__label(for="your-email") Ваш e-mail
                            //-span.wpcf7-not-valid-tip(role="alert", aria-hidden="true") Поле обязательно для заполнения.

                    .col-lg-3.order-lg-4
                        span.form__item.js-form-input.input-file.wpcf7-form-control-wrap.file-297
                            input#upload.input-file__input.wpcf7-form-control.wpcf7-file.form-control.wpcf7-not-valid(type="file", name="file-297", size="40", accept=".png,.jpg" aria-invalid="true")
                            label.input-file__label(for="upload")
                                .input-file__icon
                                .input-file__desc
                                    .input-file__text Прикрепить файл для расчета
                                    .input-file__selected
                            //-span.wpcf7-not-valid-tip(role="alert", aria-hidden="true") При загрузке файла произошла ошибка.

                    .col-lg-3.order-lg-3
                        .form__item
                            input.wpcf7-form-control.wpcf7-submit.btn.form__btn-submit(type="submit", value="Получить")
                            span.ajax-loader

                    .col-lg-9.order-lg-5
                        span.form__item Нажимая кнопку, вы даете согласие на обработку <a class="form__personal-data-toggle" href="#" data-toggle="modal" data-target="#modalPersonalData">персональных данных</a>

                //-.wpcf7-response-output(role="alert", aria-hidden="true", style="") Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.
