section.advantages
    .container
        h2.text-center.text-uppercase.mb-3(data-aos="fade-up", data-aos-delay="250") Наши преимущества
        .row
            .advantages__item.col-md-6.d-flex.p-3(data-aos="fade-right", data-aos-delay="250")
                .advantages__item-wrap
                    .row.align-items-center
                        .advantages__img-wrap.col-auto.col-md-12.col-xl-auto.mb-md-3.mb-xl-0
                            img.advantages__img(src=require('../../assets/icons/hands.svg').default, alt="")
                        .col.col-md-12.col-xl
                            .advantages__text Сопровождение и решение задач Заказчика на всех этапах (Выполнение функций Службы Заказчика)

            .advantages__item.col-md-6.d-flex.p-3(data-aos="fade-left", data-aos-delay="250")
                .advantages__item-wrap
                    .row.align-items-center
                        .advantages__img-wrap.col-auto.col-md-12.col-xl-auto.mb-md-3.mb-xl-0
                            img.advantages__img(src=require('../../assets/icons/lamp.svg').default, alt="")
                        .col.col-md-12.col-xl
                            .advantages__text Поиск оптимального финансового и технического решения

            .advantages__item.col-md-6.d-flex.p-3(data-aos="fade-right", data-aos-delay="250")
                .advantages__item-wrap
                    .row.align-items-center
                        .advantages__img-wrap.col-auto.col-md-12.col-xl-auto.mb-md-3.mb-xl-0
                            img.advantages__img(src=require('../../assets/icons/loupe.svg').default, alt="")
                        .col.col-md-12.col-xl
                            .advantages__text Внимание к деталям при проектировании и производстве электромонтажных работ

            .advantages__item.col-md-6.d-flex.p-3(data-aos="fade-left", data-aos-delay="250")
                .advantages__item-wrap
                    .row.align-items-center
                        .advantages__img-wrap.col-auto.col-md-12.col-xl-auto.mb-md-3.mb-xl-0
                            img.advantages__img(src=require('../../assets/icons/cam.svg').default, alt="")
                        .col.col-md-12.col-xl
                            .advantages__text Выполнение фото- и видеоотчетов на каждом этапе услуг


