.form-control {
    border: 1px solid $main;
    border-radius: 0;
    background-color: transparent;
    color: darken($text-color, 25);

    &:hover {
        border-color: lighten($main, 15);
    }

    &:focus {
        color: #ccc;
        background-color: transparent;
        border: 1px solid $main;
        outline: 0;
        box-shadow: $shadow-lg;
    }
}

.bb-green {
    border-bottom: 1px solid $main;
}

.bg-black {
    background-color: $second-light;
}

[type=file] {
    position: absolute;
    visibility: hidden;
    font-size: 0;
}

.img-link {

    &__img {
        width: 40px;
        height: 40px;
        margin-right: $grid-gutter-width/2;
    }

    &__text {

    }

    &_youtube {

        .img-link__text {
            text-transform: uppercase;
            color: $main;
            border-bottom: 1px solid transparent;
            transition: border-color .18s;
        }

        &:hover {
            .img-link__text {
                border-bottom-color: $main;
            }
        }
    }
}

.btn {
    border-radius: 0;

    &:focus {
        box-shadow: $shadow-lg;
    }
}

.btn_outline {
    border-color: $main;
    color: $main;

    &:hover {
        background-color: darken($main, 5);
        color: #fff;
    }
}

.text-main {
    color: $main;
}

.map {
    display: inline-flex;
    color: #ccc;

    &__img {
        margin-top: 2px;
        width: 16px;
        height: 16px;
        margin-right: .5rem;
    }
}

.modal-content {
    background-color: #444;
    padding-bottom: 1.5rem;
}

.modal-header {
    border-bottom: 0;
}

.modal-dialog-scrollable .modal-content {

    &::after {
        content: '';
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 1rem;
        height: 1rem;
        background: linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(68,68,68,0) 100%);
        pointer-events: none;
    }

    .modal-body {
        @include custom-scroll-2;
    }
}

.close {
    display: inline-block;
    font-weight: 500;
    line-height: 0.5em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 0;
    padding: 0 .5rem .5rem;
    font-size: 3rem;

    &:focus {
        outline: 0;
    }
}
