extends ../../pug/layouts/default

block page-vars
    -
        var meta = {
            title: 'Главная – ' + PROJECT_NAME,
            description: 'TT',
            keywords: '',
            type: 'website',
            url: '',
            image: '/public/images/test.jpg'
        }

block main
    include ../../components/s-form/s-form
    include ../../components/s-work-slider/s-work-slider
    include ../../components/s-cooperation/s-cooperation
    include ../../components/s-advantages/s-advantages

block modals
    include ../../components/modal-map/modal-map
    include ../../components/modal-personal-data/modal-personal-data

block scripts
    script(src="https://yastatic.net/share2/share.js")
