section.cooperation
    .container
        h2.text-center.text-uppercase.mb-5(data-aos="fade-up", data-aos-delay="250") С кем мы работаем
        .row

            .col-md-6.col-lg-3.mb-4.text-center(data-aos="flip-up", data-aos-delay="250")
                img.cooperation__img(src=require('../../assets/icons/owner.svg').default, alt="")
                .cooperation__text Собственники недвижимости
            .col-md-6.col-lg-3.mb-4.text-center(data-aos="flip-up", data-aos-delay="250")
                img.cooperation__img(src=require('../../assets/icons/leader.svg').default, alt="")
                .cooperation__text Руководящий административный персонал
            .col-md-6.col-lg-3.mb-4.text-center(data-aos="flip-up", data-aos-delay="250")
                img.cooperation__img(src=require('../../assets/icons/businessman.svg').default, alt="")
                .cooperation__text Владельцы бизнеса
            .col-md-6.col-lg-3.mb-4.text-center(data-aos="flip-up", data-aos-delay="250")
                img.cooperation__img(src=require('../../assets/icons/entities.svg').default, alt="")
                .cooperation__text Юридические лица
