$path: '../assets/fonts/exo2/' !default;

//// 100
//@font-face {
//    font-family: 'exo2-thin';
//    src: url('#{$path}exo2-thin.woff2') format('woff2'),
//         url('#{$path}exo2-thin.woff') format('woff'),
//         url('#{$path}exo2-thin.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-thin-italic';
//    src: url('#{$path}exo2-thinitalic.woff2') format('woff2'),
//         url('#{$path}exo2-thinitalic.woff') format('woff'),
//         url('#{$path}exo2-thinitalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//// 200
//@font-face {
//    font-family: 'exo2-extra-light';
//    src: url('#{$path}exo2-extralight.woff2') format('woff2'),
//         url('#{$path}exo2-extralight.woff') format('woff'),
//         url('#{$path}exo2-extralight.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-extra-light-italic';
//    src: url('#{$path}exo2-extralightitalic.woff2') format('woff2'),
//         url('#{$path}exo2-extralightitalic.woff') format('woff'),
//         url('#{$path}exo2-extralightitalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//// 300
//@font-face {
//    font-family: 'exo2-light';
//    src: url('#{$path}exo2-light.woff2') format('woff2'),
//         url('#{$path}exo2-light.woff') format('woff'),
//         url('#{$path}exo2-light.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-light-italic';
//    src: url('#{$path}exo2-lightitalic.woff2') format('woff2'),
//         url('#{$path}exo2-lightitalic.woff') format('woff'),
//         url('#{$path}exo2-lightitalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}

// 400
@font-face {
    font-family: 'exo2-regular';
    src: url('#{$path}exo2-regular.woff2') format('woff2'),
         url('#{$path}exo2-regular.woff') format('woff'),
         url('#{$path}exo2-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo2-italic';
    src: url('#{$path}exo2-italic.woff2') format('woff2'),
         url('#{$path}exo2-italic.woff') format('woff'),
         url('#{$path}exo2-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

//// 500
//@font-face {
//    font-family: 'exo2-medium';
//    src: url('#{$path}exo2-medium.woff2') format('woff2'),
//         url('#{$path}exo2-medium.woff') format('woff'),
//         url('#{$path}exo2-medium.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-medium-italic';
//    src: url('#{$path}exo2-mediumitalic.woff2') format('woff2'),
//         url('#{$path}exo2-mediumitalic.woff') format('woff'),
//         url('#{$path}exo2-mediumitalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}

// 600
@font-face {
    font-family: 'exo2-semi-bold';
    src: url('#{$path}exo2-semibold.woff2') format('woff2'),
         url('#{$path}exo2-semibold.woff') format('woff'),
         url('#{$path}exo2-semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'exo2-semi-bold-italic';
    src: url('#{$path}exo2-semibolditalic.woff2') format('woff2'),
         url('#{$path}exo2-semibolditalic.woff') format('woff'),
         url('#{$path}exo2-semibolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

//// 700
//@font-face {
//    font-family: 'exo2-bold';
//    src: url('#{$path}exo2-bold.woff2') format('woff2'),
//         url('#{$path}exo2-bold.woff') format('woff'),
//         url('#{$path}exo2-bold.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-bold-italic';
//    src: url('#{$path}exo2-bolditalic.woff2') format('woff2'),
//         url('#{$path}exo2-bolditalic.woff') format('woff'),
//         url('#{$path}exo2-bolditalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}

//// 800
//@font-face {
//    font-family: 'exo2-extra-bold';
//    src: url('#{$path}exo2-extrabold.woff2') format('woff2'),
//         url('#{$path}exo2-extrabold.woff') format('woff'),
//         url('#{$path}exo2-extrabold.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-extra-bold-italic';
//    src: url('#{$path}exo2-extrabolditalic.woff2') format('woff2'),
//         url('#{$path}exo2-extrabolditalic.woff') format('woff'),
//         url('#{$path}exo2-extrabolditalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//// 900
//@font-face {
//    font-family: 'exo2-black';
//    src: url('#{$path}exo2-black.woff2') format('woff2'),
//         url('#{$path}exo2-black.woff') format('woff'),
//         url('#{$path}exo2-black.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'exo2-black-italic';
//    src: url('#{$path}exo2-blackitalic.woff2') format('woff2'),
//         url('#{$path}exo2-blackitalic.woff') format('woff'),
//         url('#{$path}exo2-blackitalic.ttf') format('truetype');
//    font-weight: normal;
//    font-style: normal;
//}
