doctype html

block page-vars

include ../mixins/mixins

html(lang= PROJECT_LOCALE)
    head
        block head
            include ../head
            +meta(meta)

    body.page

        .wrapper
            block header
                include ../../components/header/header


            main.main
                block main

            block footer
                include ../../components/footer/footer

            block modals

            block scripts
